@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="padding-top: 20px">
    <div class="col-sm-12">
        <ul>
            <li>
                <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
            </li>
            <li>
                <a asp-controller="Progress" asp-action="Index">Status & Progress</a>
            </li>
            <li>
                <a asp-controller="Job" asp-action="Index">Add Jobs</a>
            </li>
        </ul>
    </div>
</div>
